body { 
    font-family: Arial, sans-serif;
    background-color: #CDDAD5;
    text-aling: center;
    margin: 0;
    padding: 0;
}

.caja {
    background-color: blueviolet;
    color: #29D9D1;
    padding: 20px;
    margin: 50px;
    border-radius: 10px;

}

hi {
    font-size: 32px;
}

p {
    font-size: 18px;
}